# Frontend =========================

# Logs
frontend/logs/
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

# Dependencies
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local

# Editor directories and files
frontend/.vscode/*
!frontend/.vscode/extensions.json
frontend/.idea/
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?

# Backend =========================

# Ignore Bundler config
backend/.bundle/

# Ignore all environment files (except templates)
backend/.env*
!backend/.env*.erb

# Ignore all log files and temporary files
backend/log/*
backend/tmp/
!backend/log/.keep
!backend/tmp/.keep

# Ignore pid files but keep the directory
backend/tmp/pids/*
!backend/tmp/pids/
!backend/tmp/pids/.keep

# Ignore storage files and SQLite databases
backend/storage/*
!backend/storage/.keep
backend/tmp/storage/*
!backend/tmp/storage/
!backend/tmp/storage/.keep

# Ignore master key for decrypting credentials
backend/config/master.key

# Node modules and environment files
backend/node_modules/
backend/vendor/bundle/
backend/.env

# Files that shouldn't be versioned
recipes-en.json.gz
recipes-fr.json.gz
