@import '../../../assets/sass/_variables.scss';

.app-recipe {
  grid-template-rows: 1fr auto;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }

  &__cover {
    position: relative;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
  }

  &__cooktime,
  &__favorite-icon {
    position: absolute;
    color: $c-primary;
  }

  &__favorite-icon {
    top: 0.7rem;
    right: 0.7rem;
    cursor: pointer;
  }

  &__cooktime {
    bottom: 0.7rem;
    left: 0.7rem;
  }

  &__categories {
    font-size: 0.75rem;
  }
}
