@import './reset.scss';
@import './mixings.scss';
@import './variables.scss';

* {
  @include secondary-font-mixing;
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  margin: 0 auto;
  padding: 0.6rem;
  background: $c-lime-light;
  font-size: 14px;
  position: relative;
  color: $c-secondary;
}

html {
  overflow: hidden;
}

html,
body,
#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

body,
#root {
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include primary-font-mixing;
  color: $c-primary;
  font-weight: 500;
}

h1 {
  font-size: 2.625rem;
}

a {
  text-decoration: none;
}
a:hover {
  color: $c-accent;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  border-radius: 8px;
  background: $c-white;
  border: none;
  padding: 0.5em 1.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.2);
  transition: 0.25s;
  // cursor: pointer;
}
button:hover {
  &:not(:disabled) {
    color: $c-white;
    background: #d6e46c;
    cursor: pointer;
  }
}

li {
  font-weight: 700;
}
