// font family
$primary-font: 'Fredoka', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

// colors
$c-primary: #28455b;
$c-secondary: #a5b2bc;
$c-secondary-light: #caced3;
$c-secondary-lighter: #faf9fb;
$c-accent: #509e2f;
$c-accent-light: #d6e46c;
$c-white: #fff;
$c-lime: #d6e46c;
$c-lime-light: #e8ffeb;
$c-rgba-400: rgba(0, 0, 0, 0.4);
$c-rgba-500: rgba(0, 0, 0, 0.5);
